@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Alice&family=Noto+Sans+JP:wght@300&display=swap');

:root
{
  --background-page:linear-gradient(to right, #fd33cb, #d840d9, #ad4ce3, #7855e7, #195ae7);
  --palette-color-blue : #1768FF;
  --palette-color-blue-bis:#4417ff;
  --palette-color-rose : #ff17bf;
  --palette-color-rose-bis : #ff17bdb3;
  --palette-color-bleu-marine : #240e88;
  --palette-color-action : #ff1742;
  
  
}

*,ul{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    list-style: none;
}
body{ 
    all: unset;
    color: white;
    background-image:var(--background-page) ;
    font-family: 'Noto Sans JP', sans-serif;
}

main{all:unset;}

/**au click ou au scroll d'une section l'icone representent la section et selectionnée **/
.select-items-nav::after{
    display: block;
    position: absolute;
    content: "";
    background-color: var(--palette-color-bleu-marine);
    width: 55px;
    height: 50px;
    border-radius: 8px;
    pointer-events: visible;
    margin-top: 20px;
    z-index: -1;
    transition: 2s ease;
}

#btnHautPas{
    display: none;
    position: fixed;
    top: 90vh;
    right: 30px;
    filter:invert(100%);
}

  
    /***********************/
   /** Section a propos  **/
  /***********************/

#particles-js{height: 100vh;}
.section-apropos{
    height: 100vh;
    display: flex;
    justify-content: center;
    
}


/**element à cacher ou supprimer(element version mobile)**/
 #navBarMobile, .carte-visite-face .btn-call{display: none;} 


/*titre section (a propos, experience ...)*/
.cadre-titre-sectionLg{
    position: absolute;
    margin-top: 11px;
    width: 300px;
    height: 55px;
    color: var(--palette-color-bleu-marine);
    font-family: 'Alice', serif;
    backdrop-filter: blur(5px);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    background-image: linear-gradient(155deg, rgba(255, 255, 255, 0.72), rgba(255, 255, 255, 0));
}

.cadre-titre-sectionLg::after{
    position: absolute;
    content: "";
    z-index: -1;
    top:8px;
    left: 8px;
    width: 300px;
    height: 55px;
    backdrop-filter: blur(5px);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    background-image: linear-gradient(155deg, rgba(255, 255, 255, 0.72), rgba(255, 255, 255, 0));
}

.cadre-titre-sectionLg h2{
    font-family: 'Alice', serif;
    font-size: 25pt;
    width: 300px;
    height: 26%;
    letter-spacing: 3px;
    text-align: center;
    padding-top: 10px;
}


.carte-visite h1{ font-family: 'Alice', serif; width: auto;}
.carte-visite h3{font-family: 'Alegreya Sans', sans-serif;width: auto; font-size: 16px; text-align: center;}
/*couleur logo*/
.carte-zone-logo img{
    display: inline-block;
    width: 100%;
    filter: invert(100%); 
}
.carte-visite-dos h3
{
    margin-top: 14px; 
    font-weight: bold; 
    font-size: clamp(1rem + 3px,2vw, 2vw); 
    text-align: justify;
}
.carte-visite-dos p
{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: clamp(0.8rem + 2px,1.3vw + -3px,1.4vw );

}

/*bouton télecharger et contact*/
.btn-call{
    
    display: flex;
    align-items: center;
    width: auto;
    height: 50px;
    margin-right:20px;
    color: white;
    background-color: var(--palette-color-action);
    border: 1px solid var(--palette-color-action);
    border-radius: 75px;
}

.btn-download{ text-decoration: none; }
.btn-download:hover{ color: unset;}
/*carte version mode petit écran*/

.carte-mobile {
    width: 500px;
    height: 128vh;
    margin: 150px auto 120px;
    background-color: #fff;
    padding: 0 20px 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    -webkit-box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    -moz-box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    text-align: center;
}

.avatar-logo {
border-radius: 100px;
overflow: hidden;
height: 150px;
width: 150px;
position: relative;
margin: auto;
top: -60px;
background-color: white;
transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.avatar-logo img {

transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
}

.carte-mobile h1 {
font-size: 32px;
font-weight: 600;
margin-bottom: 15px;
font-family: 'Alice', serif;
color: #333;
}
.carte-mobile h3 {
    font-family: 'Alegreya Sans', sans-serif;
font-size: 16px;
color: #00baff;
letter-spacing: 1px;
margin-bottom: 25px
}

.carte-mobile p {
font-size: 16px;
line-height: 26px;
margin-bottom: 20px;
color: #666;
} 
 
/******* Section parcours *******/
/* v2**/

.section-parcours{
    height: 190vh;
    margin: 0 auto;
    margin-bottom: 160px;
    padding-right: 0px;
    padding-left: 0px;
    color: black;

}

.resume
{
    margin-top: 130px;
}

.resume > div
{
    height: 70vh;
}
.etiquette
{
    width: 180px;
    height: 50px;
    background-color: #fff;
    border-radius: 7px;
    z-index: 1;
}

.etiquette-experience{margin-top: 50px;}

.etiquette-icone
{
    width: 50px;
    border-radius: 100%;
    background-color:white;
    height: 50px;
    align-items: center;
    justify-content: center;
    left: 50%;
    right: 0;
    margin-left: -27px;
}
.timeline-bar {
    height: 20vh;
    border-left: 5px solid #ffffff;
    padding: 15px 0;
}
.timeline .timeline-bar {
    content: '';
    width: 4px;
    /* opacity: .2; */
    margin-left: -2px;
    position: absolute;
    left: 50%;
    right: 50%;
    top: -50px;
    transform: translate(-50%,0%);
    height: 73rem;
}

.timeline-item:nth-child(even) {
    position: relative;
    padding: 15px 20px 10px;
    margin-right: -40px;
    margin-bottom: 20px;
    background-color: #fff;
    border-left: 5px solid var(--palette-color-blue);
    -webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.35); 
box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.35);
}

.timeline-item:nth-child(odd){
    position: relative;
    padding: 15px 20px 10px;
    margin-left: -40px;
    margin-bottom: 20px;
    background-color: #fff;
    border-right: 5px solid var(--palette-color-blue);
    -webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.35); 
    box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.35);
}

.timeline-item h4 {
    font-family: montserrat,Helvetica,sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.timeline-item .item-period {
    display: inline-block;
    font-size: 12px;
    line-height: 1.2em;
    color: var(--palette-color-blue);
    margin-bottom: 8px;
}

.timeline-item .item-description
{
    font-size: 15px;
    margin: 0 0 10px;
    font-weight: 400;
}
.timeline-item .item-small {
    display: inline-block;
    font-size: 12px;
    line-height: 1.2em;
    color: #9e9e9e;
    margin-left: 5px;
    margin-bottom: 8px;
    padding-left: 8px;
    border-left: 1px solid #e0e0e0;
}

.timeline-item:nth-child(even)::before {
    content: '';
    display: inline-block;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 22px;
    left: -53px;
    border: 4px solid var(--palette-color-blue);
    z-index: 2;
}
/*triangle linetime droit*/
.timeline-item:nth-child(even):after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 20px;
    left: -22px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 19px 14px 0;
    border-color: transparent  var(--palette-color-blue) transparent transparent;
    z-index: 1;
}

/*point linetime droit*/
.timeline-item:nth-child(odd):before {
    content: '';
    display: inline-block;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 22px;
    right: -53px;
    border: 4px solid var(--palette-color-blue);
    z-index: 2;
}

.timeline-item:nth-child(odd):after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 20px;
    right: -22px;
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 0 14px 19px;
    border-color: transparent transparent transparent var(--palette-color-blue);
    z-index: 1;

}

/*positionnement educ*/

.educ-1{
    top: 80px;
    left: 8.4%;
}

.educ-2{
    top: 120px;
    right: 8.6%;
}

.educ-3{
    top: 300px;
    left: 8.4%;
}

.educ-4{
    top: 340px;
    right: 8.6%;
}
/*fin v2**/



/******* Section 2 competence *******/

.section-competence{
    margin: 0 auto;
    height: 150vh;

}
/* competence v2 */

.btn-illustre
{
    width: 20rem; 
    height: 3rem ; 
    margin-right: -14px;
}
.btn-round
{
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: #465a64;
    border-radius: 100%;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.card-Skill
{
    display: flex; 
    width: 66px;
    height: 66px;
    padding: 0;
    justify-content: center;
    align-items: center;
    border:1.5px var(--palette-color-blue) solid;
    border-radius: 3px;
    /* background-color: white; */
    margin: 8px;
     transition: all .2s ease-in-out;
}

.card-Skill:hover{
    transform: scale(1.1);

}

/* fin competence v2 */



/******* Section 3 portfolio *******/

.section-portfolio{margin: 0 auto ;}


/*container portfolio*/

.navbar-portfolio
{
    padding: 0;
    margin: 0 auto 35px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
    padding: 2px 15px;
}

.navbar-portfolio li 
{
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 5px;
    transition: all 0.4s ease-in-out;
}

.menu-active
{
    border: 1px solid #f8f8f8;
    border-radius: 2px ;
}
.menu-active:hover, .navbar-portfolio li:hover
{
  background-color: #f8f8f8;
  color: var(--palette-color-blue-bis);
}
.card-realisation{
    position: relative;
    height: 16rem;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 1);
}

.card-realisation::before
{
    content: "";
    background-color: var(--palette-color-rose-bis);
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    z-index: 1;
    opacity: 0;
}

.card-realisation:hover::before,.card-realisation:hover .card-realisation-info
{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}

.card-realisation-info{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    z-index: 2;

}

.modal-title{color: var(--palette-color-bleu-marine);}
.modal-body{color: #000000;}
.modal-body-head{width: 100%; }
.modal-body-head img{width: 100.1%;}
/* .hidden-card-realisation{ display: none;} */


.card-realisation img{
    width: 100%;
    height: 100%;
 }
  
 figure:hover .legende-realissation{
        
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-style: italic;
    font-size: 13px;
    width:300px;
    height: 10vh;
    padding: 15px;
    transform: translate(0%, -7.6vh);
    transition: 0.5s ease;
}

#listLanguage li::before 
{
    content: "\2022";
    color: black;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

 

/** section contact ***/
#contact{
   height: 105vh;
  
}
.email-signature{background:#fff;font-family:Poppins,sans-serif;padding:0 0 0 200px;position:relative;z-index:1;overflow:hidden}
.email-signature:after,.email-signature:before{content:'';height:100%;width:30%;background:#0a3957;position:absolute;left:0;top:0;z-index:-1;-webkit-clip-path:polygon(0 0,70% 0,100% 50%,70% 100%,0 100%);clip-path:polygon(0 0,70% 0,100% 50%,70% 100%,0 100%)}
.email-signature:after{height:90%;width:27%;background:#ca3436;transform:translateY(-50%);top:50%;left:30px;z-index:-2}
.email-signature .signature-icon{display: flex; color:#fff;background:#fff;font-size:60px;line-height:100px;justify-content:center;align-items: center; width:100px;height:100px;border-radius:50%;transform:translateY(-50%);position:absolute;top:50%;left:5%}
.email-signature .signature-detail{margin-left: 10px; padding:27px 0 20px 15px;border-bottom:3px solid #ca3436}
.email-signature .title{color:#ca3436;font-size:18px;font-weight:700;letter-spacing:1px;text-transform:uppercase;margin:0}
.email-signature .post{color:#ca3436;font-size:14px}
.email-signature .icon{font-size:16px;padding:0;margin:0;list-style:none;position:absolute;right:15px;top:50px}
.email-signature .icon li{display:inline-block;margin:0 2px}
.email-signature .icon li a{color:#fff;background-color:#0a3957;text-align:center;line-height:28px;height:28px;width:28px;border-radius:5px}
.email-signature .icon li a:hover{background-color:#ca3436}
.email-signature .signature-content{margin:0;padding:10px 0 10px 25px;list-style:none;display:block}
.email-signature .signature-content li{color:#949494;font-size:15px;margin-bottom:3px}
.email-signature .signature-content li span{color:#ca3436;font-weight:600;margin-right:7px;display:inline-block}
@media screen and (max-width:1200px){.email-signature7{padding:0 0 0 218px} .email-signature {padding: 0 0 0 170px;}}
@media screen and (max-width:767px){.email-signature{padding:185px 0 50px 0}
.email-signature:before{width:100%;height:40%;-webkit-clip-path:polygon(0 0,100% 0,100% 55%,50% 100%,0 55%);clip-path:polygon(0 0,100% 0,100% 55%,50% 100%,0 55%)}
.email-signature:after{background:#ca3436;width:90%;height:38%;transform:translateY(0) translateX(-50%);top:23px;left:50%;-webkit-clip-path:polygon(0 0,100% 0,100% 55%,50% 100%,0 55%);clip-path:polygon(0 0,100% 0,100% 55%,50% 100%,0 55%)}
.email-signature .signature-icon{transform:translateX(-50%) translateY(0);top:22px;left:50%}
.email-signature .signature-detail{text-align:center;padding:0 0 10px}
.email-signature .icon{transform:translateX(50%);top:auto;right:50%;bottom:15px}
.email-signature .signature-content{text-align:center;padding:10px 0 0}
}



  /************************/
 /** Gestion responsive **/
/************************/

@media(min-width:992px){

    /*
    *  Affichage pour les écrans supéreur à 992px
    */


    /************************/
    /** Bare de navigation **/
    /************************/

    /*positionnement du bare de navigation*/
    #sidebar{
        position: fixed;
        height: 100%;
        width: 90px;
        transition: 0.8s;  
        box-shadow: 8px 6px 14px -1px rgba(0,0,0,0.20);/*ombre*/
        z-index: 2;
    }

    /*positionnement des element dans la bare de navigation*/
    #logoBareMenu{
        width: 100px;
        height: 100px;
    }
    #logoBareMenu img{
        width: 60%;
        margin-top: 20px;
        margin-left: 10px;
        filter: invert(100%); 
    }
    .menu ul li{
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    .selectMenu-hover{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
    }
    .selectMenu-hover img{
        width: 34px;
       
    }

    
    
    
    .selectMenu-hover span{
        position: absolute;
        width: max-content;
        color: var(--palette-color-bleu-marine);
        background-color: white;
        border-radius: 5px;
        letter-spacing: 1px;
        padding: 8px;
        left: 0;
        top: 42%;
        pointer-events: none;
        font-size: 14px;
        transition: 0.8s;
        transform: translate(70px,0);
        opacity: 0;
    }
    .selectMenu-hover:hover span{opacity: 1;}
    .selectMenu-hover span::after{
        position: absolute;
        content: '';
        display : block;
        height : 0;
        width : 0;
        border-top : 7px solid transparent;
        border-right : 10px solid rgb(255, 255, 255);
        border-bottom : 7px solid transparent;
        top: 50%;
        left: 0;
        transform: translate(-70%, -50%);

    }
    
    .selectMenu-hover img{
        font-size: 35px;
        padding: 40px 0px 20px 0px;
        
    }

    /**********************/
    /** Section a propos **/
    /**********************/
    


    .carte-visite{
        
        width: 110vh;
        height: 65vh;
        border-radius: 35px;
        border: 2px solid;  
        background-image: linear-gradient(to right, #fd33cb, #d840d9, #ad4ce3, #7855e7, #195ae7);
        box-shadow: rgb(0 0 0 / 30%) 2px 8px 8px;
        border: 3px rgb(255 255 255 / 35%) solid;
        border-bottom: 2px rgba(40,40,40,0.35) solid;
        border-right: 3px rgba(40,40,40,0.35) solid;
        background-clip: padding-box;
       
    
        
    }
    /*container de la carte de viste, face de devant & dos*/ 
    #cardRotationY{
        position: relative;
        width: 110vh;
        height: 65vh;
        border-radius: 35px;
        top:140px;
        left: 50px; 
        padding: 0;

        
    }
    /*carte visite face de devant*/
    .carte-visite-face{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }

    /*séparateur logo de la carte de visite et le nom du dev*/
    .trait-vertical{
        width: auto;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 5px;
        border-left: 6px solid white; 
        height: 160px; 
        display: inline-block;
    }

    .carte-zone-logo {width: 190px;} /*container logo*/
    .carte-visite-face h3 {font-size: 20px; }

    /*carte visite face de dos*/
    .carte-visite-dos{
        position: relative;
        width: 110vh;
        height: 65vh;
        border-radius: 35px;
        top:-100%;
        text-align: justify;
        background-image: linear-gradient(to right, #fd33cb, #d840d9, #ad4ce3, #7855e7, #195ae7);
        box-shadow: rgb(0 0 0 / 30%) 2px 8px 8px;
        border: 3px rgb(255 255 255 / 35%) solid;
        border-bottom: 2px rgba(40,40,40,0.35) solid;
        border-right: 3px rgba(40,40,40,0.35) solid;
        background-clip: padding-box;
        
    }
    
    

    /*animation carte vistite*/


    /*tourne la face du dos et cacher le contenue*/
    .carte-visite-dos,#cardRotationY{
        backface-visibility: hidden;
        transform:  rotateY(-180deg);
        transition: 0.6s;
    }

    /*en survolant le container tourner la carte et afficher le contenu (dos de la carte)*/
    #cardRotationY:hover .carte-visite-dos{
        transform: rotateY(0deg);
    }
    /*tourne la face de devant et cacher le contenue*/
    .carte-visite-face, #cardRotationY {
        backface-visibility: hidden;
        transform:  rotateY(0deg);
        transition: 0.6s;
    }
    /*en survolant le container tourner la carte et afficher le contenu (devant de la carte)*/
    #cardRotationY:hover .carte-visite-face{
        transform:  rotateY(180deg);
    } 

   .card-realisation{
       height:153.4px; 
       padding: 0;
       overflow: hidden;   
    }
   

    


}

@media(min-width:1200px){
  
    /*
   *  Affichage pour les écrans supéreur à 1200px
  */
   
  #cardRotationY{left: 0;}
  .carte-visite{
    
    width: 130vh;
    height: 70vh;
    border-radius: 35px;
    background-image: linear-gradient(to right, #fd33cb, #d840d9, #ad4ce3, #7855e7, #195ae7);
    box-shadow: rgb(0 0 0 / 30%) 2px 8px 8px;
        border: 3px rgb(255 255 255 / 35%) solid;
        border-bottom: 2px rgba(40,40,40,0.35) solid;
        border-right: 3px rgba(40,40,40,0.35) solid;
        background-clip: padding-box;
 
    
  }
  
  
  .trait-vertical{
      width: auto;
      /* margin-left: 50px;
      margin-right: 50px; */
      margin-top: 5px;
      border-left: 6px solid white; 
      height: 180px; 
      display: inline-block;
  }
  
  
  
  /*carte visite face de dos*/
  .carte-visite-dos{
      position: relative;
      width: 130vh;
      height: 70vh;
      border-radius: 35px;
      top:-108%;
      text-align: justify;
      background-image: linear-gradient(to right, #fd33cb, #d840d9, #ad4ce3, #7855e7, #195ae7);
      box-shadow: rgb(0 0 0 / 30%) 2px 8px 8px;
        border: 3px rgb(255 255 255 / 35%) solid;
        border-bottom: 2px rgba(40,40,40,0.35) solid;
        border-right: 3px rgba(40,40,40,0.35) solid;
        background-clip: padding-box;
      
  }
  
  
  
  /*animation carte vistite*/
  
  
  
  .carte-visite-dos,#cardRotationY{
      backface-visibility: hidden;
      transform:  rotateY(-180deg);
      transition: 0.6s;
  }
  
  
  #cardRotationY:hover .carte-visite-dos{
      transform: rotateY(0deg);
  }
  
  
  .carte-visite-face, #cardRotationY {
      backface-visibility: hidden;
      transform: rotateY(0deg);
      transition: 0.6s;
  }
  
  
  #cardRotationY:hover .carte-visite-face{
      transform:  rotateY(180deg);
  }

  
  .card-realisation{height:204.4px;}

    
  
  }
  



/* largeur écran <= 992px*/
@media(max-width:992px){

    /*les element à supprimer ou cacher */
    #navBarMobile{display: none;}
    /*la bare menu mobile */

    
    
    /********************************************/
   /** Bare de navigation version grand ecran **/
  /********************************************/

   
  


  #sidebar{
    position: fixed;
    height: 100%;
    width: 90px;
    overflow: hidden;
    transition: 0.8s;  
    box-shadow: 8px 6px 14px -1px rgba(0,0,0,0.20);/*ombre*/
    z-index: 2;
  }

    /*positionnement des element dans la bare de navigation*/
    #logoBareMenu{
        width: 100px;
        height: 100px;
    }
    #logoBareMenu img{
        width: 60%;
        margin-top: 20px;
        margin-left: 10px;
        filter: invert(100%); 
    }
    .menu ul li{
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    .selectMenu-hover{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
    }
    .selectMenu-hover img{
        width: 34px;
        
    }


    .selectMenu-hover span{
        position: absolute;
        color: white;
        letter-spacing: 1px;
        padding: 40px 0 20px 0;
        opacity: 0;
        pointer-events: none;
        font-size: 14px;
        transition: 0.8s;
    }





  /*cacher le titre menu quand le pointeur
   ne survol pas la bare de navigation*/
   
   #sidebar{ 
       width: 90px;
       transition:all .3s ease-in-out;
       z-index: 2;
   }
   
  

    /*affiche le titre menu quand le pointeur
        survol la bare de navigation*/

    /*espace entre les element du menu*/
    .selectMenu-hover img{
        font-size: 35px;
        padding: 40px 0px 20px 0px;
        
    }
        /*cacher le titre menu quand le pointeur
        ne survol pas la bare de navigation*/
    /* #sidebar:hover .menu ul li span{all: initial;}    test */
    .selectMenu-hover span{
            display: inline-block;
            position: absolute;
            color: white;
            padding: 40px 0 20px 0;
            opacity: 0;
            pointer-events: none;
            font-size: 12px;
            left: 20px;
            margin-top: 55px;
            transition: 0.8s;
    } 
    
    #sidebar:hover .menu ul li span{ padding: 0; margin:0;margin-top: 94px;}    
    .selectMenu-hover:hover span{opacity: 1;} /*afficher le titre*/
    .icon-competence span{left: 9px;}

    .carte-visite{
        
        width: 90vh;
        height: 55vh;
        border-radius: 35px;
        background-image: linear-gradient(to right, #fd33cb, #d840d9, #ad4ce3, #7855e7, #195ae7);
        box-shadow: rgb(0 0 0 / 30%) 2px 8px 8px;
        border: 3px rgb(255 255 255 / 35%) solid;
        border-bottom: 2px rgba(40,40,40,0.35) solid;
        border-right: 3px rgba(40,40,40,0.35) solid;
        background-clip: padding-box;
    }
    
    #cardRotationY{
        position: relative;
        width: 90vh;
        height: 55vh;
        border-radius: 35px;
        top:185px;
        left: 50px; 
        padding: 0;

        
    }
    /*carte visite face de devant*/
    .carte-visite-face{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }


    .trait-vertical{
        width: auto;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 5px;
        border-left: 6px solid white; 
        height: 120px; 
        display: inline-block;
    }

    .carte-zone-logo {width: 130px;}
    .carte-visite-face h1{font-size: 30px;}

    /*carte visite face de dos*/
    .carte-visite-dos{
        position: relative;
        width: 90vh;
        height: 55vh;
        border-radius: 35px;
        top:-100%;
        text-align: justify;
        background-image: linear-gradient(to right, #fd33cb, #d840d9, #ad4ce3, #7855e7, #195ae7);
        padding-bottom: 10px;
        
    }

    .carte-visite-dos p{ font-size: 13px; margin-bottom: 0; padding: 0;}
    .btn-call
    {
        height: 40px;
        font-size: 1.2vw;
    }
    .btn-call svg{width: 18px; height: 18px;}

    /*animation carte vistite*/



    .carte-visite-dos,#cardRotationY{
        backface-visibility: hidden;
        transform:  rotateY(-180deg);
        transition: 0.6s;
    }


    #cardRotationY:hover .carte-visite-dos{
        transform: rotateY(0deg);
    }


    .carte-visite-face, #cardRotationY {
        backface-visibility: hidden;
        transform: rotateY(0deg);
        transition: 0.6s;
    }

    #cardRotationY:hover .carte-visite-face {
        transform: rotateY(0deg);
    }
    .carte-visite-face, #cardRotationY {
        backface-visibility: hidden;
        transform:  rotateY(0deg);
        transition: 0.6s;
    }
    #cardRotationY:hover .carte-visite-face{
        transform:  rotateY(180deg);
    }

    /** section parcours**/
    .section-parcours{margin-bottom: 870px;}


    .card-realisation{
     height:156.663px;
     padding: 0;
     overflow: hidden;
     z-index: 0;
    
    }

    /* section parcours */
    
    .section-parcours { height: 225vh;}
    .timeline .timeline-bar{height: 123rem;}
    .timeline-item
    {
        flex: 0 0 auto;
        width: 58.3333333333%;
        border: 0 !important;
        
    }

    .timeline-item:nth-child(even){right: 25%;}
    .timeline-item:nth-child(odd){left: 28%;}
    .timeline-item::after, .timeline-item::before
    {
        border: 0 !important; 
        background-color: rgba(255, 255, 255, 0)!important;
    }

    .educ-1 { top: 114px;}
    .educ-2 {top: 360px;}
    .educ-3 {top: 560px;}
    .educ-4 {top: 790px;}

    .experience .educ-2{top: 335px;}
    .experience .educ-3{top: 565px;}
    .experience .educ-4{top: 750px;}

    .etiquette-experience {
        margin-top: 530px;
    }
 
    /* section competence */
    .section-competence {height: 200vh;}
    .btn-illustre {margin-right: -50px;}
}




/*condition si la largeur est <= 768px alors
 le navigateur prend en charge le code css
 à l'intérieur de @media */
 
 /* Tablette*/
 @media(max-width:768px){

    #sidebar{background-color: var(--palette-color-bleu-marine);}
    .select-items-nav::after{background-color: #3B16E0;}
    /**les element à supprimer ou cacher**/
    .cadre-titre-sectionLg, .trait-vertical, #cardRotationY .carte-visite-dos{display: none;}
    /*element à afficher*/
    .carte-visite p, .carte-visite-face .btn-call{display: block;}
    
    #particles-js{height: 160vh;}
    #cardRotationY:hover .carte-visite-face{
        transform:  rotateY(0deg);
    }
    
    
    #sidebar{width: 0; z-index: 99;}
    #titreSection{color: rgb(36, 14, 136); font-family: 'Alice', serif;}
    .open-menuMob{width: 90px !important;}
    

    /**************************************************/
   /** Bare de navigation version mobile & tablette **/
  /**************************************************/
   

    #navBarMobile{
      display: flex;
      align-items: center;
      justify-content: center;
      margin:0 auto;
      position: fixed;
      width: 100%;
      height: 10vh;
      background-color: teal;
      color: white;
      z-index: 2;
      /* glassmorphisme*/ 
      backdrop-filter: blur(5px);
      background-color: rgba(0,191,255, 0.075);
      box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
      border: 2px rgba(255,255,255,0.4) solid;
      border-bottom: 2px rgba(40,40,40,0.35) solid;
      border-right: 2px rgba(40,40,40,0.35) solid;

      
    }
    #navBarMobile h2{
        width: 80%;
        text-align: center;
    }
     
    
    
   
     /***********************/
    /** Section a propos  **/
   /***********************/
   .section-apropos{height: 100vh; margin-bottom: 150px;}
   #cardRotationY{
       width: 100%;
       height: auto;
       display: flex;
       justify-content: center;
      align-items: center;
      left: 0px;
    }
   
   .flex-mobile-column{flex-direction: column;}
   
   

   /*  
 
 @keyframes rotate {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
} */

   
  .carte-visite-face h1{
      
       position: relative;
       top: 13px;
       width: auto;
       font-size: 27px;
   }
   

   .btn-call
   {   
       width: 155px;
       height: 42px;
       font-size: 14px;
       margin-bottom: 10px;
       padding: 0 8px;
   }
   .btn-contact{ width: 110px;}
   
   .btn-call svg{ width: 20px; height: 20px;}
   

   
   
   .section-parcours{padding-top: 50px;margin-bottom: 550px;}
   .timeline-item{width: 83.333333333%;}
   .timeline-item:nth-child(odd) {left: 16%;}
   .timeline-item:nth-child(even) { right: 16%;}

   .tableau-projet{justify-content: center;}
   .tableau-projet .card-realisation{margin: 1rem 0 !important;}

   #contact {
    height: 150vh;
}


}

/*Smartphone*/
@media(max-width:576px){


     
     /***********************/
    /** Section a propos  **/
   /***********************/
   .carte-mobile h1 {font-size: clamp(25px,6vw,30px);}
   .carte-mobile h3 {font-size: clamp(13px, 5vw, 16px);}
   .carte-mobile p 
   {
    font-size: clamp(14px,3.8vw,16px);
    line-height: clamp(20px,4vw, 26px);
    margin-bottom: 30px;
   }

   /* section parcours */
   .section-parcours {height: 365vh; overflow: hidden; margin-bottom: 0;}

   
   .timeline-item{width: 95%;}
   .timeline-item h4 {font-size: clamp(16px,4vw,18px);}
   .timeline-item .item-description {font-size: clamp(13px,1vw,15px);}
   .timeline-item:nth-child(even) {padding: 15px 6px 10px;right: 2%; margin-right: 0;}
   .timeline-item:nth-child(odd) {padding: 15px 6px 10px; left:3%; margin-left: 0;}

   .mt-xs {margin: 0 !important;}
   .title-lg-web{margin-right: 20px !important;}
   .swiper-slide h3{font-size: clamp(18px,3vw,20px) !important; right:8% ;}
   
    

}





